src/main/java/com/jms/xmltopdf/jaxb/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="return">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="EncounterId"/>
                    <xs:element type="xs:string" name="PatientId"/>
                    <xs:element type="xs:string" name="ProviderId"/>
                    <xs:element type="xs:string" name="ControlNo"/>
                    <xs:element type="xs:string" name="patient"/>
                    <xs:element type="xs:string" name="DOB"/>
                    <xs:element type="xs:string" name="ApptFacilityId"/>
                    <xs:element type="xs:string" name="sex"/>
                    <xs:element type="xs:string" name="age"/>
                    <xs:element type="xs:string" name="phone"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element type="xs:string" name="time"/>
                    <xs:element type="xs:string" name="doctor"/>
                    <xs:element type="xs:string" name="user"/>
                    <xs:element type="xs:string" name="assignedTo"/>
                    <xs:element type="xs:string" name="enctype"/>
                    <xs:element type="xs:string" name="caller"/>
                    <xs:element type="xs:string" name="reason"/>
                    <xs:element type="xs:string" name="message"/>
                    <xs:element type="xs:string" name="actiontaken"/>
                    <xs:element type="xs:string" name="notes"/>
                    <xs:element type="xs:string" name="ticketId"/>
                    <xs:element name="subItems">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="itemName"/>
                                <xs:element type="xs:string" name="itemValue"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="VirtualFlag"/>
                    <xs:element type="xs:string" name="eMsgs"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>